<% if (prompts.length > 0) { %>
    <% prompts.forEach((p) => { %>
        <tr>

            <td><%- p.text %></td>
            <td><%- intents[p.intent].name %></td>
            <td class="dropdown">
                <% if (Object.keys(p.entities).length > 0) { %>

                    <ul class="list-group">

                        <% for(const [key, value] of Object.entries(p.entities)) { %>
                            <% if (value != "null") { %>

                                <li class="list-group-item text-light user-select-none px-2 py-1" data-toggle="tooltip" data-placement="top" title="<%- entities[key].name; %>"><%- value; %></li>

                            <% } %>
                        <% } %>

                    </ul>

                    <!--
                    <button class="dropdown-toggle btn  btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Entities</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                        <% for(const [key, value] of Object.entries(p.entities)) { %>
                            <p class="dropdown-item text-light"><%- entities[key].name; %> : <%- value %></p>
                        <% } %>

                    </div>
                    -->

                <% } %>
            </td>

        </tr>
    <% }); %>
<% } %>