<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aurras Frontend App</title>
    
    <%- include('./partials/styles.ejs') %> 
    
    <link rel="stylesheet" href="../css/commands.css">
</head>
<body>

    <%- include('partials/titlebar.ejs'); %> 

    <!-- Remainder of the content -->
    <div class="main">

        <%- include('partials/sidebar.ejs', {current: 'intents'}) %> 

        <div class="page">

            <!-- Title -->
            <h1>Train Aurras</h1>
            <p class="pb-1">Intents are actions derived from prompts which Aurras should be able to take</p>

            <!-- Create an intent -->
            <h3>Create an Intent</h3>
            <form class="pb-4" id="intents">

                <div class="row">

                    <div class="col-3 pb-1">
                        <div class="form-group">

                            <label for="name">Name</label>
                            <input name="name" type="text" class="form-control" id="name" placeholder="weather..." required>

                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">

                            <label for="command">Command</label>
                            <input name="command" type="text" class="form-control" id="command" placeholder ="new_intent"  required>

                        </div>
                    </div>
                    <div class="col-6" id="dropdown-entities">
                        <div class="form-group" id="entity-selector">

                            <label for="entities">Entities</label>
                            <select name="entities" class="selectpicker" multiple data-live-search="true" id="entities">
                                <% for(const [key, value] of Object.entries(entities)) { %>
                                    <option><%- value.name %></option>
                                <% } %>
                            </select>
                        
                        </div>
                    </div>

                </div>

                <div class="form-group pb-2">

                    <label for="description">Description</label>
                    <input name="description" type="text" class="form-control" id="description" placeholder="report the weather..." required>

                </div>

                <button type="submit" class="btn btn-primary" id="btn-submit">Create Intent</button>

            </form>

            <!-- Other intents -->
            <h3>Intents</h3>
            <input class="form-control searchInputs" type="text" placeholder="Search..">
            <table class="table intents">

                <thead>
                    <tr>
    
                        <th>Intent</th>
                        <th>Command</th>
                        <th>Description</th>
                        <th>Entities</th>
    
                    </tr>
                </thead>
                <tbody class="commandTable">
                    <% for(const [key, value] of Object.entries(intents)) { %>
                        <tr>

                            <th scope="row"><%- value.name %></th>
                            <td><%- value.command %></td>
                            <td class="overflow"><%- value.description %></td>
                            <td class="dropdown">
                                <% if (value.entities.length > 0) { %>

                                    <button class="dropdown-toggle btn  btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                        <%- entities[value.entities[0]].name %><% if (value.entities.length > 1) { %>...<% }%> 

                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                        <% value.entities.forEach((e) => { %>
                                            <p class="dropdown-item text-light"><%- entities[e].name; %></p>
                                        <% }); %>

                                    </div>

                                <% } %>
                            </td>
                            
                        </tr>
                    <% } %>
                </tbody>
    
            </table>

        </div>

    </div>

    <%- include('./partials/scripts.ejs') %> 
    <script src="../js/commands.js"></script>
    
</body>
</html>